.custom-extension-body {
  padding: 0;
  .container {
    outline: none;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    max-width: 80%;
    overflow: hidden;

    .header {
      flex-shrink: 0;
      display: flex;
      padding: 20px 20px 14px;
      overflow: hidden;
      font-size: 14px;
      position: relative;
      .avatar {
        position: relative;
        flex: 0 0 128px;
        width: 128px;
        height: 128px;
        cursor: pointer;
        &.disabled {
          cursor: initial;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
          border: 0;
        }
      }
      .details {
        flex: 1;
        padding-left: 20px;
        overflow: hidden;
        user-select: text;
        .title {
          font-size: 26px;
          line-height: 30px;
          font-weight: 600;
          white-space: nowrap;
        }
        .subtitle {
          display: flex;
          gap: 8px;
          padding-top: 6px;
          padding-left: 1px;
          white-space: nowrap;
          height: 20px;
          line-height: 20px;
          .version {
            margin-left: 10px;
            user-select: text;
            white-space: nowrap;
          }
          code:not(empty) {
            font-family: Consolas, "Courier New", monospace;
            font-size: 90%;
            background-color: hsla(0, 0%, 50.2%, 0.17);
            border-radius: 4px;
            padding: 1px 4px;
          }
        }
        .description {
          margin-top: 10px;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
        .state-container {
          margin-top: 10px;
          .actions-bar {
            padding: 0;
            margin: 0 auto;
            display: flex;
            align-items: center;
            width: 100%;
            height: 26px;
            gap: 8px;
          }
          .status {
            margin-top: 5px;
            line-height: 22px;
            font-size: 90%;
            display: flex;
          }
          .uninstalled {
            font-style: italic;
            margin-right: 6px;
            &::before {
              content: "✓";
              padding-right: 4px;
            }
          }
        }
        .recommendation {
          margin-top: 5px;
        }
      }
    }

    .body {
      flex: 1;
      overflow: hidden;
      .extension-list-wrapper {
        height: 100%;
        overflow: hidden;
      }
      .extension-list {
        height: 100%;
        padding: 0;
        margin: 0px 40px;
        overflow-x: hidden;
      }
      .extension-item {
        list-style: none;
        display: flex;
        padding: 0px 20px;
        box-sizing: border-box;
        overflow: hidden;
        cursor: pointer;
        opacity: 0.3;
        &:hover {
          background-color: rgba(255, 255, 255, 0.1);
        }
        .icon-container {
          position: relative;
          width: 42px;
          height: 42px;
          padding: 10px 14px 10px 0;
          flex-shrink: 0;
          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            border: 0;
          }
          .badge {
            padding: 3px 6px;
            border-radius: 11px;
            font-size: 11px;
            min-width: 18px;
            min-height: 18px;
            line-height: 11px;
            font-weight: 400;
            text-align: center;
            display: inline-block;
            box-sizing: border-box;
            transform: translate(-10px, -15px);
            background-color: rgb(77, 77, 77);
            color: rgb(255, 255, 255);
          }
        }
        .details {
          flex: 1;
          padding: 4px 0;
          overflow: hidden;
          .title {
            font-weight: 700;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
          }
          .description {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
          .footer {
            font-size: 90%;
            font-weight: 600;
          }
        }
        .picked-container {
          display: flex;
          align-items: center;
          .picked-checkbox {
            width: 16px;
            height: 16px;
            border: 1px solid;
            border-radius: 50%;
          }
        }
        &.picked {
          opacity: 1;
          .picked-checkbox {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: cadetblue;
            &::before {
              content: "";
              width: 1px;
              height: 5px;
              background-color: whitesmoke;
              transform: rotate(-45deg) translate(-2px, -1px);
            }
            &::after {
              content: "";
              width: 1px;
              height: 8px;
              background-color: whitesmoke;
              transform: rotate(45deg) translate(1px, -1px);
            }
          }
        }
        &.disabled {
          cursor: not-allowed;
        }
      }
    }
  }
}
